.topBar {
    background-color: #282828;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    picture {
        width: 90px;
        height: 40px;
        img {
            height: auto;
            width: 100%;
        }
    }
    a {
        text-decoration: none;
        font-size: 13px;
        color: #E62D56;
        font-weight: 500;
        background-image: url("../../Images/SVG/sign-out-alt-solid.svg");
        background-size: 17px 17px;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 20px;
    }
}