.navBar {
    background-color: #282828;
    padding: 60px 0;
    ul {
        li {
            border-bottom: 1px solid #E62D56;
            a {
                color: #CCCCCC;
                text-decoration: none;
                font-size: 15px;
                font-weight: 500;
                display: block;
                padding: 10px 20px;
            }
        }
    }
}